<div class="dnd-main-page">
    <div class="empty"></div>
    <div class="dnd-main-page__content">
        <span class="dnd-main-page__content__text">
            Добро пожаловать в новый сеттинг
        </span>
        <span class="dnd-main-page__content__big-text">
            Начните играть уже сегодня
        </span>
        <span class="dnd-main-page__content__text">
            Но прежде ознакомьтесь с изменениями внесенными в классический режим по ссылкам сверху
        </span>
    </div>
</div>
