.dnd-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: bisque;
    border-bottom: 2px solid rgb(228, 221, 134);
    font-family: "Malibu";
    font-size: 35px;
    position: fixed;


    &__logo{
        width:100px;
        height: 100px;
        margin-left: 100px;
        margin-right: 100px;
    }

    &__text{
        margin-left: 25px;
        color: rgb(21, 22, 22);
    }
}

.text{
    margin-top: 5px;
}

.empty{
    height: 120px;
    width: 100%;
}